/* apply background styles to your elements */
.myDiv {
    background-color: #FFF8EA;
}

h1 {
    color: brown;
    text-align: center;
    padding-top: 30px;
}

h2 {
    color: hsl(0, 17%, 43%);
    margin: auto;
    text-align: center;
}


.block {
    border-style: solid;
    border-color: rgb(158, 118, 118);
    border-width: 0.05in;
    border-radius: 10mm 5%;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-top: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
    margin-left: 3em;
}

.form {
    padding: 50px 50px 75px 50px;
    margin: 1ch 1ch 1ch 1ch;
}

.block p {
    text-decoration: underline;
}

img {
    height: 150px;
    width: 200px;
}

#comment {
    min-width: 20em;
    max-width: 40em;
}

details {
    font-family: "Papyrus", Fantasy;
}

#game_list {
    font-family: American Typewriter, serif;
}

p {
    color: red;
}

p.ex1 {
    display: inline;
}

p.ex2 {
    display: block;
}

.roles {
    position: relative;
}

* {
    box-sizing: border-box;
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #9E7676;
    color: white;
}

#two {
    position: relative;
    top: 20px;
    left: 20px;
    background: #9E7676;
}

#one {
    position: static;
}

p:hover {
    color: blue;
}

a:active {
    background-color: yellow;
}

.flex-container {
    border: 1px solid;
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-content: flex-end;
}

.box-1 {
    border: 1px solid;
}

.box-2 {
    border: 1px solid;
}

.box-3 {
    border: 1px solid;
}


.media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: end;
    column-gap: 10px;
    row-gap: 15px;
}